@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
body{
    margin: 1;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.container{
    margin: 0;
    padding: 0.5rem;
    width: 98.7%;
    height: 55rem;
    background-color: rgb(234, 241, 241);
}
ul{
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
}
header{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
section{
    margin-top: 5%;
}
h2{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
footer{
    margin-top: 35%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-decoration: none;
}